.header {
    height: 80px;
    border-bottom: 1px solid #f4f4f4;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    top: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px -8px;
}

.navbar-left {
    display: inline-flex;
    align-items: center;
    /* justify-content: flex-end; */
    flex: 1;
}

.narbar-left__logo {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 10px;
    border-radius: 50%;
}

svg {
    transition: fill linear 0.2s;
}

.navbar-left__logo-link {
}

.navbar-left__logo-link:hover svg {
    fill: var(--hover-color);
}

.navbar-left__search {
    margin-left: 16px;
    width: 604px;
    height: 48px;
    border-radius: 2px;
    box-shadow: 1px 1px 4px #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 4px;
}

.search {
    text-decoration: none;
    width: 268px;
    height: 57%;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
}

.search-input--focus:focus {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    z-index: 1;
}

.search-icon {
    text-decoration: none;
    padding: 0 16px 0 0;
    font-size: 1.6rem;
    position: absolute;
    left: 16px;
    top: 17px;
    z-index: 1;
}

.search-input {
    height: 46px;
    width: 43%;
    position: absolute;
    padding: 0 0 0 40px;
    left: 0px;
    top: 2px;
    font-weight: 500;
    font-size: 1.6rem;
    outline: none;
    background-color: transparent;
    border: none;
    line-height: 1.4rem;
    font-weight: 500;
}

.search-date {
    /* width: 116px; */
    flex: 1;
    padding: 0 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-date::before {
    content: "";
    display: block;
    position: absolute;
    height: 32px;
    width: 1px;
    background-color: #e7e7e7;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.search-date__icon {
    margin-right: 12px;
    font-size: 1.8rem;
}

.search-date__text {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: -4px;
}

.search__guest {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    /* width: 116px; */
    flex: 1;
    cursor: pointer;
}

.search__guest::before {
    content: "";
    display: block;
    position: absolute;
    height: 32px;
    width: 1px;
    background-color: #e7e7e7;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.search__guest-icon {
    margin-right: 14px;
    font-size: 1.8rem;
}

.search__guest-text {
    font-size: 1.4rem;
    margin: 0 0 -5px 0;
    font-weight: 500;
}

.search__button {
    background-color: #555;
    padding: 12px 20px;
    border: none;
    margin: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.search__button-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.navbar-right {
    flex: 1;
    padding-left: 0;
    margin-left: 30px;
    /* margin-right: 20px; */
}

.navbar-right__list {
    list-style: none;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar-right__item {
    margin-right: 32px;
    position: relative;
}

.navbar-right__item:nth-child(2)::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #fb9236;
    border-radius: 50%;
    right: -10px;
    top: -5px;
    position: absolute;
}
.navbar-right__item:nth-child(4) {
    margin-right: 20px;
}

.navbar-right__item-link {
    text-decoration: none;
    color: var(--text-color);
    /* line-height: 1.6rem; */
    display: block;
}

.navbar-right__item-link:hover {
    color: var(--hover-color);
}

.navbar-right__languages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding: 5px 7px;
    border-radius: 50px;
    cursor: pointer;
}

.navbar-right__flag {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.navbar-right__languages-icon {
    margin: -9px 0 0 11px;
    font-size: 1.8rem;
}

.slider {
    height: 354px;
    display: flex;
    margin-top: 78px;
}
.slider__container {
    width: 1172px;
    height: 263px;
    background: url(/assest/img/slide2.png) no-repeat center center / cover;
    margin: 44px auto;
    border-radius: 20px;
    cursor: pointer;
}

.welcome-section__title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 12px 0;
}

.welcom-section__sub-title {
    margin: 0 0 10px 0;
}

.welcome-section__option {
    margin: 0 0 10px 0;
}

.welcome-section__option {
    margin: 0 0 48px 0;
}

.welcom-section__sub-title,
.welcome-section__option,
.welcome-section__login,
.welcome-section__register {
    font-size: 1.6rem;
    color: #48373a;
}

.welcome-section__login:hover,
.welcome-section__register:hover {
    color: var(--hover-color);
}

.navbar-right__currency {
    position: absolute;
    background-color: var(--white-color);
    top: 80px;
    right: 45px;
    width: 470px;
    height: 154px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 10%);
    border: 1px solid #d8d8d8;
    display: none;
    animation: showModal linear 0.2s;
}

.navbar-right__currency::before {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
    top: -11px;
    right: 31px;
    width: 20px;
    height: 20px;
    background-color: var(--white-color);
    border-top-right-radius: 4px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-top-color: #d8d8d8;
    border-right-color: #d8d8d8;
    border-left-color: transparent;
    border-bottom-color: transparent;
    /* z-index: -1; */
    /* box-shadow: 0 0 2px rgba(0, 0, 0, 0.6); */
    /* background-color: var(--white-color); */
}

@keyframes showModal {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-right__currency--active {
    display: block;
}

.countries {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    position: relative;
}

.countries .country-item {
    cursor: pointer;
}

.countries--has-border-right::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 134px;
    width: 1px;
    right: 0;
    top: 48%;
    transform: translateY(-50%);
}

.country-item {
    display: flex;
    align-items: center;
}

.country-item:hover .country-item__languages {
    color: var(--hover-color);
}

.country-item__flag {
    width: 18px;
    height: 18px;
    margin-right: 14px;
}

.country-item__languages {
    margin-right: 10px;
}

.country-item__icon {
    font-size: 0.9rem;
}

.country-item__unit {
    margin-right: 18px;
    font-size: 1.6rem;
    font-weight: 700;
}

.currency {
    padding: 8px 10px;
}

.currency .country-item {
    cursor: pointer;
}

.location-section {
    width: 100%;
    position: relative;
    margin-top: -10px;
}

.location-section__parent {
    position: relative;
}

.location-section__button-prev {
    position: absolute;
    border: none;
    background-color: var(--white-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 55%;
    left: -11px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.location-section__button-prev:hover,
.location-section__button-next:hover {
    box-shadow: 0 0 5px 1px rgb(246 94 57 / 50%);
    color: #f65e39;
}

.location-section__button-next {
    position: absolute;
    border: none;
    background-color: var(--white-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 55%;
    right: -11px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.location-section__img {
    width: 100%;
    height: 278px;
    border-radius: 3px;
}

.location-section__info {
    position: absolute;
    left: 33px;
    bottom: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-name {
    font-size: 2rem;
    font-weight: 600;
    color: var(--white-color);
}

.info-quantity {
    font-size: 1.5rem;
    color: var(--white-color);
    margin-top: 20px;
    font-weight: 500;
}

.location-section__img:first-child {
    padding-left: 0;
}

.location-section__title {
}

.endow-section-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.location-section__sub-title {
}

.endow-section__read-more {
    font-size: 1.5rem;
    margin-right: 12px;
}

.endow-section__read-more-link {
    text-decoration: none;
    color: var(--hover-color);
    font-weight: 500;
}

.prev-icon,
.next-icon {
    font-size: 1.7rem;
}

.endow-section {
    width: 100%;

    margin-top: 56px;
}

.endow-section__item {
    position: relative;
}

/* .endow-section__sub-title {
    margin-top: 12px;
} */

.endow-img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.endow-shadow {
    width: 90%;
    height: 90%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 5px;
    filter: blur(15px);
    overflow: hidden;
    z-index: -1;
}

.endow-shadow__img {
    width: 100%;
}

.recommend-section {
    margin-top: 68px;
    position: relative;
}

.recommend-section__img {
    width: 100%;
}

.button-prev {
    position: absolute;
    border: none;
    background-color: var(--white-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 50%;
    left: -11px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.button-prev:hover,
.button-next:hover {
    box-shadow: 0 0 5px 1px rgb(246 94 57 / 50%);
    color: #f65e39;
}

.button-next {
    position: absolute;
    border: none;
    background-color: var(--white-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.recommend-section__introduce {
    font-size: 1.8rem;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
}

.recommend-section__description {
    font-size: 1.4rem;
    color: var(--text-color);
}

.discovery-section-content {
    position: relative;
}

.discovery-section-item {
    position: relative;
}

.recommend-section__link {
    text-decoration: none;
}

.item-header {
    position: absolute;
    top: 30px;
    background-color: #bebebe;
    border-radius: 30px;
    padding: 3px 31px;
    font-weight: 600;
    left: 24px;
}

.item-bottom {
    position: absolute;
    bottom: 10px;
    padding: 24px;
}

.item-header__link,
.item-bottom__link {
    text-decoration: none;
}

.item-header__link {
    font-size: 1.6rem;
    color: #ececec;
}

.item-bottom__link {
    font-size: 1.8rem;
    color: #f4f4f4;
    font-weight: 600;
}

.discovery-section {
    margin-top: 56px;
    position: relative;
}

.discovery-section__img {
    width: 100%;
    height: 238px;
    border-radius: 4px;
}

.discovery-section__button-prev {
    position: absolute;
    border: none;
    background-color: var(--white-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 60%;
    left: -11px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.discovery-section__button-prev:hover,
.discovery-section__button-next:hover {
    box-shadow: 0 0 5px 1px rgb(246 94 57 / 50%);
    color: #f65e39;
}

.discovery-section__button-next {
    position: absolute;
    border: none;
    background-color: var(--white-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 60%;
    right: -11px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.tutorial-section {
    margin-top: 56px;
    position: relative;
}

.tutorial-section__img {
    width: 100%;
    height: 210px;
    border-radius: 4px;
}

.tutorial-section__button-prev {
    position: absolute;
    border: none;
    background-color: var(--white-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 60%;
    left: -11px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.tutorial-section__button-prev:hover,
.tutorial-section__button-next:hover {
    box-shadow: 0 0 5px 1px rgb(246 94 57 / 50%);
    color: #f65e39;
}

.tutorial-section__button-next {
    position: absolute;
    border: none;
    background-color: var(--white-color);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    top: 60%;
    right: -11px;
    transform: translateY(-50%);
    z-index: 1;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.introduce-section {
    margin-top: 68px;
}

.left-header__logo {
    margin-left: -30px;
}

.left-header__title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 18px;
}

.left-header__description {
    line-height: 2.2rem;
}

.left-bottom {
    margin-top: 48px;
    display: flex;
    align-items: center;
    padding: 16px;
}

.left-bottom__img {
    width: 180px;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 12px;
}

.left-bottom__img {
}

.left-bottom__app {
    width: 124px;
    height: 40px;
}

.left-bottom__apps {
    display: flex;
    /* margin: 18px 8px; */
    flex-wrap: wrap;
    margin-left: 48px;
}

.left-bottom__link {
    margin: 0 0 18px 0;
    padding: 0 8px;
}

.introduce-section__right,
.introduce-section__left {
    flex: 1;
}

.introduce-section__right-img {
    width: 100%;
    height: 684px;
    object-fit: contain;
}

.footer {
    margin-top: -10px;
    min-height: 500px;
}

.footer-contact_method-item {
    display: flex;
    align-items: center;
}

.footer-contact__method-content {
    margin-left: 8px;
}

.method-content__messenger {
    font-size: 1.4rem;
    margin: 0 0 4px 0;
    font-weight: 700;
}

.method-content__link {
    font-size: 1.4rem;
    margin-bottom: 0;
    text-decoration: none;
    color: #443252;
}

.method-content__link:hover {
    color: var(--hover-color);
}

.footer-contact_method {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-contact_method-item {
    margin-top: 24px;
}

.footer-top__homestay-title,
.footer-top__space-title,
.footer-about-us__title,
.footer-download__title {
    font-size: 1.6rem;
    margin-top: 0;
}

.footer-top__homestay-list {
    list-style: none;
    margin-top: 24px;
    padding-left: 0;
}

.footer-top__homestay-item,
.footer-top__space-item,
.footer-about-us__item {
    font-size: 1.4rem;
    line-height: 3.6rem;
}

.footer-top__homestay-link,
.footer-top__space-link,
.footer-about-us__link {
    text-decoration: none;
    color: var(--text-color);
}

.footer-top__homestay-link:hover,
.footer-top__space-link:hover,
.footer-about-us__link:hover {
    color: var(--hover-color);
}

.footer-top__space-list {
    list-style: none;
    margin-top: 41px;
    padding-left: 0;
}

.footer-about-us__list {
    list-style: none;
    margin-top: 41px;
    padding-left: 0;
}

.footer-download__img--qr {
    width: 53px;
    height: 53px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 12px;
}

.footer-download__contain {
    margin-top: 45px;
    display: flex;
}

.footer-download__apps {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
}

.footer-download__app:not(:first-child) {
    margin-top: 20px;
}

.footer-download__img {
    width: 90px;
    height: 26px;
}

/* .payment-section {
    margin-left: 13%;
} */

.payment-title {
    font-size: 1.4rem;
    text-align: center;
}

.payment-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.certification-contain {
    align-items: center;
}

.certification-img {
    width: 84px;
    height: 32px;
}

/* .certification-section {
    margin-left: 2%;
} */

.certification-title {
    font-size: 1.4rem;
    text-align: center;
    margin-left: 14px;
}

.certification-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 81px;
    margin-top: 31px;
}

.certification-1 {
    margin-right: 22px;
}

.social-title {
    /* margin-left: 87px; */
    font-size: 1.4rem;

    margin-left: 90px;
}

.social-contain {
    margin-left: 70px;
    margin-top: 32px;
}

.social-link {
    text-decoration: none;
    margin-left: 18px;
}

.license {
    min-height: 200px;
    /* background-color: #f9f9f9; */
    text-align: center;
    border-top: 1px solid #f2f2f2;
}

.license-1,
.license-2,
.license-3 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: #999;
}

.license-1 {
    padding-top: 28px;
}
